@using CG.Models
@{
    var headers = ViewData["Headers"] != null ? (SettingsViewModel)ViewData["Headers"] : new SettingsViewModel();
}
<!-- Contact Section -->
<section id="contact" class="contact section">

    @* <div class="mb-5" data-aos="fade-up" data-aos-delay="2000">
        <iframe style="border:0; width: 100%; height: 300px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4745.558214686266!2d41.91323583096003!3d44.98988111909301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f9ab06f55bd31b%3A0xd51f3839403ab371!2z0YPQuy4g0JTQvtCy0LDRgtC-0YDRhtC10LIsIDk5LCDQodGC0LDQstGA0L7Qv9C-0LvRjCwg0KHRgtCw0LLRgNC-0L_QvtC70YzRgdC60LjQuSDQutGA0LDQuSwgMzU1MDEx!5e0!3m2!1sru!2sru!4v1729371719894!5m2!1sru!2sru" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div><!-- End Google Maps --> *@

    <div class="container" data-aos="fade-up" data-aos-delay="1000">

        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="3000">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>@(headers.settingsHeaders.TryGetValue("AdressContact", out string AdressContact) ? AdressContact : "")</h3>
                        <p><a href="@BaseConfiguration.Adress">ChessGood</a></p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="4000">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>@(headers.settingsHeaders.TryGetValue("Telegram", out string PhoneContact) ? PhoneContact : "")</h3>
                        <p><a href="@BaseConfiguration.Telegram">@BaseConfiguration.Telegram</a></p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>@(headers.settingsHeaders.TryGetValue("EmailContact", out string EmailContact) ? EmailContact : "")</h3>
                        <p>@BaseConfiguration.Email@* info@example.com *@</p>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <div class="col-lg-8">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="2000">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Ваше имя" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Ваш Email" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Тема" required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Сообщение" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Загрузка</div>
                            <div class="error-message"></div>
                            <div class="sent-message">@(headers.settingsHeaders.TryGetValue("SendMessageContact", out string SendMessageContact) ? SendMessageContact : "")@* Ваше сообщение отправлено. Спасибо! *@</div>

                            <button type="submit">Отправить</button>
                        </div>

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->